<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- YOLOv8 model path -->
  <arg name="yolo_weights_path" default="$(find darknet_ros)/weights/yolov8n.pt"/>
  <arg name="network_param_file" default="$(find darknet_ros)/config/yolov8n.yaml"/>

  <!-- ROS parameter file -->
  <arg name="ros_param_file" default="$(find darknet_ros)/config/ros.yaml"/>

  <!-- Load ROS parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>

  <!-- Start YOLOv8 Python node -->
  <node pkg="darknet_ros" type="yolov8_ros_node.py" name="yolov8_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path" value="$(arg yolo_weights_path)" />
    <param name="config_path" value="$(arg network_param_file)" />
  </node>

  <!-- Optional: Image republishing node -->
  <!--<node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>

